*[snd-destroyed] {
  display: none !important;
}

#sndDestroyCounter {
  display: none;
  z-index: 9999;
  position: fixed;
  bottom: 16px;
  left: 16px;
  padding: 16px;
  border: 1px solid black;
  background: white;
  text-align: center;
}

#sndDestroyCounter.active {
  display: block;
}

#sndDestroyCounter h4 {
  margin-bottom: 8px;
}